@tailwind base;
@tailwind components;
@tailwind utilities;

body {
     background-image: url('./img/batman.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     overflow-x: hidden;
     height: 100vh;
}

img {
     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg) brightness(103%) contrast(103%);
}




